<footer>
    <div class="container">
        <div class="row">
            <hr class="footer-divider" />
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="text-center">
                    <a href="/about" class="btn btn-sm">About</a>
                    <a href="/contact" class="btn btn-sm">Contact</a>
                    <a href="/about" class="btn btn-sm">Sign Up</a>
                    <a href="/contact" class="btn btn-sm">Sign In</a>
                </div>
                <p class="copyright text-muted">Copyright &copy; Glendon Cheney 2016</p>
            </div>
        </div>
    </div>
</footer>
