<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

    <% include ../partials/navigation %>

    <!-- Page Header -->
    <% include ../partials/main-header %>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <h1 class="text-center">Thought Category</h1>
            <hr class="large"/>
            <div class="col-lg-10 col-lg-offset-1 col-md-12">
                <div class="post-preview">
                    <div class="pull-left">
                        <img alt="user image" src="http://api.randomuser.me/portraits/thumb/men/58.jpg" class="user-img img-circle">
                    </div>
                    <a href="/thoughts/read">
                        <h2 class="post-title">
                            Man must explore, and this is exploration at its greatest
                        </h2>
                        <h3 class="post-subtitle">
                            Problems look mighty small from 150 miles up
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Test User</a> on September 24, 2014 &nbsp;&#9642;&nbsp;
                        <a href="">Read more</a>
                    </p>
                </div>
                <hr>
                <div class="post-preview">
                    <div class="pull-left">
                        <img alt="user image" src="http://api.randomuser.me/portraits/thumb/women/58.jpg" class="user-img img-circle">
                    </div>
                    <a href="/thoughts/read">
                        <h2 class="post-title">
                            I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
                        </h2>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Test User</a> on September 24, 2014 &nbsp;&#9642;&nbsp;
                        <a href="">Read more</a>
                    </p>
                </div>
                <hr>
                <div class="post-preview">
                    <div class="pull-left">
                        <img alt="user image" src="http://api.randomuser.me/portraits/thumb/men/69.jpg" class="user-img img-circle">
                    </div>
                    <a href="/thoughts/read">
                        <h2 class="post-title">
                            Science has not yet mastered prophecy
                        </h2>
                        <h3 class="post-subtitle">
                            We predict too much for the next year and yet far too little for the next ten. But we can make progress with this.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Test User</a> on September 24, 2014 &nbsp;&#9642;&nbsp;
                        <a href="">Read more</a>
                    </p>
                </div>
                <hr>
                <div class="post-preview">
                    <div class="pull-left">
                        <img alt="user image" src="http://api.randomuser.me/portraits/thumb/women/55.jpg" class="user-img img-circle">
                    </div>
                    <a href="/thoughts/read">
                        <h2 class="post-title">
                            Failure is not an option
                        </h2>
                        <h3 class="post-subtitle">
                            Many say exploration is part of our destiny, but it’s actually our duty to future generations.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Test User</a> on September 24, 2014 &nbsp;&#9642;&nbsp;
                        <a href="">Read more</a>
                    </p>
                </div>
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <% include ../partials/footer %>
    
    <!-- Scripts -->
    <% include ../partials/scripts %>

</body>

</html>
