<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>
    <% include ../partials/main-header %>
    
    <% include ../partials/navigation %>

    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">    
                <h2 class="text-center">Create a New Thought</h2>
                <hr class="large"/>
                <form>
                    <fieldset class="form-group">
                        <label for="exampleInputEmail1">Title</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Title">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="exampleSelect1">Category</label><br />
                        <small class="text-muted">Select the best category for your thought.</small>
                        <select class="form-control" id="exampleSelect1">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="exampleTextarea">Content</label><br />
                        <textarea class="form-control" id="exampleTextarea" rows="20"></textarea>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="exampleInputFile">Header Image</label>
                        <input type="file" name="image" id="" class="btn">
                        <small class="text-muted">Choose the image you want used in the header of your thought.</small>
                    </fieldset>
                    <div class="checkbox">
                        <label><input type="checkbox">Allow Comments</label>
                    </div>
                    <button type="submit" class="btn">Save</button>
                    <button type="submit" class="btn btn-primary">Publish</button>
                </form>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <% include ../partials/footer %>

    <!-- Scripts -->
    <% include ../partials/scripts %>

</body>

</html>
