<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

    <% include ../partials/navigation %>

    <!-- Page Header -->
    <header class="intro-header" style="background-image: url('/img/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1><%= header.title %></h1>
                        <hr class="small">
                        <span class="subtitle"><%= header.subtitle %></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <%- content %>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <% include ../partials/footer %>

    <!-- Scripts -->
    <% include ../partials/scripts %>

</body>

</html>
