<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

    <% include ../partials/navigation %>

    <% include ../partials/main-header %>

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->\
    <h1 class="text-center">Featured Thoughts</h1>
    <hr class="large"/>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="post-preview">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <a target="_blank" href="http://join.deathtothestockphoto.com/">
                            <h2 class="section-heading">Death to the Stock Photo:<br>Special Thanks</h2>
                        </a>
                        <img alt="User Image" src="http://api.randomuser.me/portraits/thumb/men/58.jpg" class="pull-left user-img img-circle">
                        <p class="text-muted post-meta">Posted by <a href="#">Test User</a> on September 24, 2014</p>
                        <p class="lead">A special thanks to <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a> for providing the photographs that you see in this template. Visit their website to become a member.</p>
                        <hr />
                        <a href="#" class="btn">Read More &rarr;</a>
                    </div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/ipad.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="post-preview">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <a target="_blank" href="http://www.psdcovers.com/">
                            <h2 class="section-heading">3D Device Mockups<br>by PSDCovers</h2>
                        </a>
                        <img alt="User Image" src="http://api.randomuser.me/portraits/thumb/women/44.jpg" class="pull-left user-img img-circle">
                        <p class="text-muted">Posted by <a href="#">Test User</a> on September 24, 2014</p>
                        <p class="lead">Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to download some of their awesome, free photoshop actions!</p>
                        <hr />
                        <a href="#" class="btn">Read More &rarr;</a>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/dog.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="post-preview">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <a target="_blank" href="/read">
                            <h2 class="section-heading">Apple is Making a Comeback with Zombie Steve Jobs</h2>
                        </a>
                        <img alt="User Image" src="http://api.randomuser.me/portraits/thumb/women/48.jpg" class="pull-left user-img img-circle">
                        <p class="text-muted">Posted by <a href="#">Ivanna Evans</a> on September 24, 2014 in <a href="">Technology</a></p>
                        <p class="lead">
                            Zombie Steve Jobs has been leading Apple on to great things this quarter, as the stocks continue to soar pending his undead announcement of the Zombiphone. This is shaping up to be an exciting week int he world of technology. 
                        </p>
                        <hr />
                        <a href="#" class="btn">Read More &rarr;</a>
                    </div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/jobs-zombie.jpg" alt="Steve Jobs">
                </div>
            </div>
            
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">See More &rarr;</a>
                </li>
            </ul>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <hr>

    <!-- Footer -->
    <% include ../partials/footer %>
    
    <!-- Scripts -->
    <% include ../partials/scripts %>

</body>

</html>
